.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}
.logo {
	width: 200px;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.nav-items > ul {
	display: flex;
	padding: 0px 20px;
}

.nav-items > ul > li {
	list-style: none;
	margin: 10px;
	padding: 10px;
	font-size: 24px;
}

.res-card {
	padding: 5px;
	margin: 5px;
	width: 200px;
}

.res-card:hover {
	border: 1px solid black;
	cursor: pointer;
}

.filter-btn {
	margin: auto;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
.res-logo {
	width: 100%;
}
.res-container {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
}

.search-bar {
	width: 50%;
	padding: 10px;
	font-size: 20px;
	border-radius: 25px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.search-btn {
	background-color: #007BFF;
    color: white;
    border: none;
	border-radius: 25px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
	margin:10px;
}
.search-btn:hover {
	background-color: #0056b3;
}

.search-bar:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}